blockquote {
    color: rgba(0,0,0,.5);
    padding-left: 1.5em;
    border-left: 5px solid rgba(0,0,0,.1);
}

blockquote, dl, ol, p, pre, ul {
    margin: 1.2em 0;
}

.about img {
    border-radius: 50%;
}

.post-container .post img[src='/assets/capture/saml-concept.png'] {
    width: 40rem;
}

.post-container .post img[src='/assets/capture/saml-concept.png'] {
    width: 40rem;
    display: block;
    margin: 0 auto 4rem;
}