---
layout: default
---
{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
<div class="post-container">
  <a class="post-link" href="{{ page.url | relative_url }}">
    <h2 class="post-title">{{ page.title | escape }}</h2>
  </a>
  <div class="post-meta">
    <ul class="post-categories">
      {%- for tag in page.categories -%}
      <li>{{ tag }}</li>
      {%- endfor -%}
    </ul>
    <div class="post-date"><i class="icon-calendar"></i>{{ page.date | date: date_format }}</div>
  </div>
  <div class="post">
    {{ content }}
  </div>
  <div class="more-posts">
    <div class="more-category">
      {% assign categories = page.categories | join: ", " %}
      {% assign morePostTitle = "'" | append: categories | append:"' 카테고리의 다른 글" %}
      <h4>{{ morePostTitle }}</h4>
      <!-- TODO 더보기 링크 -->
      <!-- <a href="/category/{{ page.categories }}/index.html" class="more-button">더보기</a> -->
    </div>
    <table>
      <tbody>
        {% assign categoryMatchCount = 0 %}
        {% for post in site.posts %}
          {% if page != post %}
            {% for category in page.categories %}
              {% if post.categories contains category %}
                {% assign categoryMatchCount = categoryMatchCount | plus: 1 %}
                <tr>
                  <!-- 각 포스트의 링크도 자신의 사이트에 맞게 수정 -->
                  <th class="more-posts-title">
                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                  </th>
                  <td class="more-posts-date">{{ post.date | date: '%Y. %m. %d' }}</td>
                </tr>
                {% endif %}
                {% if categoryMatchCount >= 5 %}
                  {% break %}
                {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}

        {% if categoryMatchCount < 1 %}
          {% assign morePostTitle = "ddd" %}
          {% for post in site.posts limit:5 %}
            <tr>
              <!-- 각 포스트의 링크도 자신의 사이트에 맞게 수정 -->
              <th class="more-posts-title">
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
              </th>
              <td class="more-posts-date">{{ post.date | date: '%Y. %m. %d' }}</td>
            </tr>
          {% endfor %}
        {% endif %}

      </tbody>
    </table>
  </div>
  {%- if site.plainwhite.disqus_shortname -%}
  <div id="disqus_thread" style="margin-top:25px"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ page.url | absolute_url }}';
      this.page.identifier = '{{ page.url | absolute_url }}';
    };
    (function () {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.plainwhite.disqus_shortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
      powered by Disqus.</a></noscript>
  {%- endif -%}
</div>
